@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "componentes/variables";
@import "componentes/mixins";
@import "componentes/index";
@import "componentes/sobrenosotros";
@import "componentes/login";
@import "componentes/productos";
@import "componentes/sobrepasteles";
@import "componentes/mediaq";

/*Estilos generales, barra de navegacion y footer*/
body {
  background-color: $color-fondo;
}

// Barra de navegación
header {
  background-color: $color-nav-footer;
  text-align: center;
  font-size: 20px;
  font-family: $fuente-secundaria;
  color: $color-palabras;
  .logo{
    height: 20vh;
  }
  .nav-link {
    color: $color-palabras;
    &:hover {
      color: $color-hover;
    }
  }
}

/* Footer con Grid */
footer {
  @include grid-layout(3);
  background-color: $color-nav-footer;
  color: $color-palabras;
  .seccion-footer1, .seccion-footer2, .seccion-footer3 {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    h3 {
      font-size: calc(1.3rem + -0.4vw);
    }
    ul {
      list-style-type: none;
      padding: 0;
      a {
        color: $color-palabras;
        text-decoration: none;
        &:hover {
          color: $color-hover;
        }
      }
    }
  }
}