@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Variables */

:root {
    --color-fondo:#FFCCEA;
    --color-nav-footer:#CDC1FF;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-fondo);
}

/* Barra de navegacion */

header {
    background-color:var(--color-nav-footer);
    text-align: center;
    font-size: 20px;
}

.logo{
    height: 20vh;
}

/* Estilos de main de index*/

.main-index {
    background-image: url(../imagenes/fondo1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    box-sizing: border-box;
}

.container-title {
    font-size: 10vw;
    text-align: center;
}

.container-parrafo{
    font-size: 3vw;
    text-align: center;
}

/* Estilos con flex y media query para el index */

.container-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productos {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.producto-favorito {
    flex: 1;
    text-align: center;
    color: rgb(78, 73, 73);
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 2rem;
}

.p-torta-fav{
    font-size: 2rem;
    color: rgb(78, 73, 73);
    font-family: "Open Sans", serif;
    font-weight: 400;
}

.section-title{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4vw;
    color: rgb(78, 73, 73);
    font-family: "Open Sans", serif;
    font-weight: 700;
}

.torta-fav{
    height: 10rem;
    width: 15rem;
}
/* Media query de index para dispositivos moviles */
@media (max-width: 768px) {
    .productos {
      flex-direction: column;
      align-items: center;
      font-size: 4vw;
    }

    .p-torta-fav{
        font-size: 5vw;
        color: rgb(78, 73, 73);
        font-family: "Open Sans", serif;
        font-weight: 400;
    }

    .section-title{
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 6vw;
        color: rgb(78, 73, 73);
        font-family: "Open Sans", serif;
        font-weight: 700;
    }
}

img{
    height: 100px;
}

/* Footer con Grid */

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: var(--color-nav-footer);
}
  
.seccion-footer1 {
    padding: 10px;
    text-align:start;
    border-radius: 5px;
}

.seccion-footer2, .seccion-footer3 {
    padding: 10px;
    text-align:center;
    border-radius: 5px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}
  
footer li {
    margin-bottom: 5px;
}
  
footer a {
    color:black;
    text-decoration: none;
}
  
footer h3 {
    font-size: calc(1.3rem + -0.4vw);
}

/* Estilos Flex para la pagina sobre pasteles */

.sobre-pasteles-title {
    text-align: center;
    font-size: 4rem;
}

.sobre-pasteles-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sobre-pasteles{
    display: flex;
    align-items: center;
    gap: 10px;   
    background-color: #FFF6E3;
}


.sobre-pasteles img{
    width: 20rem;
    height: 20rem;
}
