/* Estilos de Index */

//Estilos main
.main-index {
    background: url(../imagenes/fondo2.jpeg) center/cover no-repeat;
    color: white;
    box-sizing: border-box;
    .container{
      .container-title {
        font-size: 10vw;
        text-align: center;
      }
      .container-parrafo {
        font-size: 3vw;
        text-align: center;
      }
    }
  }
  /* Section de Index */
  // Flex container
  .container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    .section-title{
        text-align: center;
        font-size: 4vw;
        color: rgb(78, 73, 73);
        font-family: "Open Sans", serif;
        font-weight: 700;
    }
    .productos {
      display: flex;
      justify-content: space-around;
      width: 100%;
      .producto-favorito, .p-torta-fav, .section-title {
        flex: 1;
        text-align: center;
        color: rgb(78, 73, 73);
        font-family: "Open Sans", serif;
        font-weight: 400;
        font-size: 2rem;
        img{
          height: 100px;
        }
        .torta-fav {
          height: 10rem;
          width: 15rem;
        }
      }
    }
  }
  