/* Estilos página Sobre Nosotros */
.sobre-nosotros {
    background: url(../imagenes/cake-decorating-2209478_1280.jpg) center/cover no-repeat;
    color: honeydew;
    opacity: 0.8;
    padding: 20px;
    
    h1 {
      text-align: center;
      font-size: 3rem;
    }
  
    p {
      margin: 0;
      font-size: 2rem;
      text-align: center;
    }
  }