/*Variables*/ 
$color-fondo: #e8d1b6;
$color-nav-footer: #69140e;
$color-sobre-pasteles: #b16661;
$color-palabras: #E8A87C;
$color-hover: #A44200;
$fuente-principal: "Open Sans", serif;
$fuente-secundaria: "Montserrat", serif;